html,body{
    width:100%;
    height:100%;
    margin:0px;
    padding: 0px;
    background: #F4F3EE;
}

#loading-layer {
    display:none;
    font-family: Verdana;
    font-size: 11px;
    background:#E2353E;
    padding:10px;
    text-align:center;
    border:1px solid #000;
    color: #FFF;
}

.mainboxsize {
	width:94%;
	max-width:1200px;
	margin: auto;
}

#login-box {
    width:447px;
    height:377px;
    margin:10% auto 0 auto;
}

form {
    margin:0px;
    padding: 0px;
}

input,select,a,button,textarea {
    outline:none;
}

table{
    border:0px;
    border-collapse:collapse;
}

.title_quote {
    color:#545454;
    background-color:#FBCB3C;
    border:1px dotted #bebebe;
    border-bottom: 0;
    font-weight: bold;
    padding: 5px;
}

.quote {
    color:#545454;
    background-color:#ffffe0;
    border: 1px dotted #d8d8d8;
    text-align: justify;
    padding: 5px;
}

table td {
    padding:0px;
    font-size: 11px;
    font-family: verdana;
}

table th{
    padding:0px;
    font-size: 11px;
    font-family: verdana;
    text-align: left;
    font-weight: normal;
}

a:active,a:visited,a:link {
    color: #4b719e;
    text-decoration:none;
}

a:hover {
    color: #4b719e;
    text-decoration: underline;
}

.navigation {
    color: #999898;
    font-size: 11px;
    font-family: tahoma;
}

.option {
    color: #717171;
    font-size: 11px;
    font-family: tahoma;
}

.upload input {
    border:1px solid #9E9E9E;
    color: #000000;
    font-size: 11px;
    font-family: Verdana;
}

.small {
    color: #999898;
}

.navigation a:active,.navigation a:visited,.navigation a:link {
    color: #999898;
    text-decoration:none;
}

.navigation a:hover {
    color: #999898;
    text-decoration: underline;
}

.list {
    font-size: 11px;
}

.list a:active,.list a:visited,.list a:link {
    color: #0B5E92;
    text-decoration:none;
}

.list a:hover {
    color: #999898;
    text-decoration: underline;
}

.quick {
    color: #999898;
    font-size: 11px;
    font-family: tahoma;
    padding: 5px;
}

.quick h3 {
    font-size: 18px;
    font-family: verdana;
    margin: 0px;
    padding-bottom: 5px;
}

.system {
    color: #999898;
    font-size: 11px;
    font-family: tahoma;
    padding-bottom: 10px;
    text-decoration:none;
}

.system h3 {
    font-size: 18px;
    font-family: verdana;
    margin: 0px;
    padding-top: 4px;
}

.system a:active,.system a:visited,.system a:link,.system a:hover {
    color: #999898;
    text-decoration:none;
}

.quick a:active,.quick a:visited,.quick a:link,.quick a:hover {
    color: #999898;
    text-decoration:none;
}

.unterline {
    background: url(images/line_bg.gif);
    width: 100%;
    height: 9px;
    font-size: 3px;
    font-family: tahoma;
    margin-bottom: 4px;
}

 .hr_line {
    background: url(images/line.gif);
    width: 100%;
    height: 7px;
    font-size: 3px;
    font-family: tahoma;
    margin-top: 4px;
    margin-bottom: 4px;
}

.edit {
    border:1px solid #9E9E9E;
    color: #000000;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 11px;
    font-family: Verdana;
    background: #FFF;
}

.bbcodes {
    background: #FFF;
    border: 1px solid #9E9E9E;
    color: #666666;
    font-family: Verdana, Tahoma, helvetica, sans-serif;
    padding: 2px;
    vertical-align: middle;
    font-size: 10px;
    margin:2px;
    height: 21px;
}

.buttons {
    background: #FFF;
    border: 1px solid #9E9E9E;
    color: #666666;
    font-family: Verdana, Tahoma, helvetica, sans-serif;
    padding: 0px;
    vertical-align: absmiddle;
    font-size: 11px;
    height: 21px;
}

select {
    color: #000000;
    font-size: 11px;
    font-family: Verdana;
}

.cat_select {
    color: #000000;
    font-size: 11px;
    font-family: Verdana;
    border:1px solid #9E9E9E;
    width:320px;
    height:73px;
}

textarea {
    border: #9E9E9E 1px solid;
    color: #000000;
    font-family: Verdana;
    word-spacing: 0.1em;
    letter-spacing: 0;
    line-height: 1.5em;
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-right: 0px;
    padding: 0px;
    resize: vertical;
}

.xfields textarea {
    width:98%;
    height:170px;
    border: #9E9E9E 1px solid;
    color: #000000;
    font-family: Verdana;
    word-spacing: 0.1em;
    letter-spacing: 0;
    line-height: 1.5em;
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-right: 0px;
    padding: 0px;
    resize: vertical;
    background:#fff url(images/shadow.png) repeat-x;
}

.xfields input {
    width:350px;
    height:18px;
    border: #9E9E9E 1px solid;
    font-size: 11px;
    font-family: Verdana;
    background:#fff url(images/shadow.png) repeat-x;
}

.xfields select {
    height:18px;
    font-size: 11px;
    font-family: Verdana;
}

.xfields {
    height:30px;
    font-size: 11px;
    font-family: Verdana;
    padding-top: 5px;
}

.xprofile textarea {
    width:100%;
    height:90px;
    font-family:verdana;
    font-size:11px;
    border:1px solid #E0E0E0;
}

.xprofile input {
    width:250px;
    height:18px;
    font-family:verdana;
    font-size:11px;
    border:1px solid #E0E0E0;
}

#dropmenudiv{
    border:1px solid white;
    border-bottom-width: 0;
    font:normal 10px Verdana;
    background-color: #6497CA;
    line-height:20px;
    margin:2px;
}

#dropmenudiv a{
    display: block;
    text-indent: 3px;
    border: 1px solid white;
    padding: 1px 0;
    MARGIN: 1px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

#dropmenudiv a:hover{
    /*hover background color*/
background-color: #FDD08B;
    color: #000;
}

#hintbox{
    /*CSS for pop up hint box */
position:absolute;
    top: 0;
    background-color: lightyellow;
    width: 150px;
    /*Default width of hint.*/
 padding: 3px;
    border:1px solid #787878;
    font:normal 11px Verdana;
    line-height:18px;
    z-index:100;
    border-right: 2px solid #787878;
    border-bottom: 2px solid #787878;
    visibility: hidden;
}

.hintanchor{
    padding-left: 8px;
}

.editor_button {
    float:left;
    cursor:pointer;
    padding-left: 2px;
    padding-right: 2px;
}

.editor_buttoncl {
    float:left;
    cursor:pointer;
    padding-left: 1px;
    padding-right: 1px;
    border-left: 1px solid #BBB;
    border-right: 1px solid #BBB;
}

.editbclose {
    float:right;
    cursor:pointer;
}

.news_navigation {
    color:#666;
    border:0px;
    line-height: 25px;
}

.news_navigation a:link,.news_navigation a:visited,.news_navigation a:hover,.news_navigation a:active {
    text-decoration:none;
    color: #636363;
    background:#F9F9F9;
    border:1px solid #E6E6E6;
    padding:3px 6px;
    font-size:11px;
}

.news_navigation span {
    text-decoration:none;
    background:#fff;
    padding:3px 6px;
    border:1px solid #E6E6E6;
    color:#ccc;
    font-size:11px;
}

.dle_tabPane{
    height:26px;
    /* Height of tabs */
;
}

.dle_aTab{
    border:1px solid #CDCDCD;
    padding:5px;
}

.dle_tabPane div{
    float:left;
    padding-left:3px;
    vertical-align:middle;
    background-repeat:no-repeat;
    background-position:bottom left;
    cursor:pointer;
    position:relative;
    bottom:-1px;
    margin-left:0px;
    margin-right:0px;
}

.dle_tabPane .tabActive{
    background-image:url('images/tl_active.gif');
    margin-left:0px;
    margin-right:0px;
}

.dle_tabPane .tabInactive{
    background-image:url('images/tl_inactive.gif');
    margin-left:0px;
    margin-right:0px;
}

.dle_tabPane .inactiveTabOver{
    margin-left:0px;
    margin-right:0px;
}

.dle_tabPane span{
    font-family:tahoma;
    vertical-align:top;
    font-size:11px;
    line-height:26px;
    float:left;
}

.dle_tabPane .tabActive span{
    padding-bottom:0px;
    line-height:26px;
}

.dle_tabPane img{
    float:left;
}

.mbTabset .handler{
    padding-right:5px;
    position:relative;
    margin-left:-5px;
}

.mbTabset{
    white-space:nowrap;
    display:block;
    margin-left:5px;
    margin-right:20px;
    margin-bottom:-1px;
    float:left;
    position:relative;
}

.mbTabset .mbTab {
    display:inline-block;
    cursor:pointer;
    min-width:100px;
}

.mbTabset .mbTab.disabled {
    cursor:default;
}

.mbTabset.right {
    float:right;
}

.mbTabset .mbTab i{
    width:25px;
    position:relative;
    margin-left:-7px;
    padding-right:5px;
    margin-right:8px;
    cursor:move;
}

.mbTabset .floatEl{
    float:left;
}

.mbTabset a.mbTab {
    background-color:transparent;
    background-image: url( 'images/tab_right.png' );
    background-repeat:no-repeat ;
    background-position:top right;
    color: #666;
    display:block;
    /*opera*/
display:inline-block;
    /*ie*/
font: normal 13px arial, sans-serif;
    height: 28px;
    margin-right: 0;
    padding-right: 20px;
    text-decoration: none;
}

.mbTabset a.mbTab span {
    background-color:transparent;
    background-image: url( 'images/tab.png' );
    background-repeat:no-repeat ;
    display: block;
    line-height: 21px;
    padding: 3px 0 4px 20px;
}

.mbTabset a.mbTab span img{
    margin-left:-5px;
    margin-top:-2px;
    padding-right:5px;
}

.mbTabset a.mbTab:hover {
    color: #000;
    outline: none;
}

.mbTabset a.mbTab.sel {
    background-image: url( 'images/tab_right_sel.png' );
    color: #000;
    outline: none;
}

.mbTabset a.mbTab.sel span {
    background-image:url( 'images/tab_sel.png');
}

.mbTabset a.mbTab.disabled {
    background-image: url( 'images/tab_right.png' );
    color: #999;
    outline: none;
}

.mbTabsetContainer{
    padding-top:10px;
    width:100%;
    background:#fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    min-height:270px;
    border:1px solid #CDCDCD;
    clear:both;
}

.tabContent{
    padding:10px;
}

.bk {
    background:#fff url(images/shadow.png) repeat-x;
}

.hoverRow {
    background-color: #EFEFEF;
}

.tfoot th, .thead th {
    background-color:#FFFFFF;
}

.filetree {
    width: 200px;
    height: 500px;
    border-top: solid 1px #BBB;
    border-left: solid 1px #BBB;
    border-bottom: solid 1px #FFF;
    border-right: solid 1px #FFF;
    background: #FFF;
    overflow: scroll;
    padding: 5px;
}

ul.jqueryFileTree {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    line-height: 18px;
    padding: 0px;
    margin: 0px;
}

ul.jqueryFileTree li {
    list-style: none;
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
    white-space: nowrap;
}

ul.jqueryFileTree a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 0px 2px;
}

ul.jqueryFileTree a:hover {
    background: #BDF;
}

.jqueryFileTree li.directory {
    background: url(images/directory.png) left top no-repeat;
}

.jqueryFileTree li.expanded {
    background: url(images/folder_open.png) left top no-repeat;
}

.jqueryFileTree li.file {
    background: url(images/file.png) left top no-repeat;
}

.jqueryFileTree li.wait {
    background: url(images/spinner.gif) left top no-repeat;
}

.jqueryFileTree li.ext_css {
    background: url(images/css.png) left top no-repeat;
}

.jqueryFileTree li.ext_js {
    background: url(images/script.png) left top no-repeat;
}

.jqueryFileTree li.ext_tpl {
    background: url(images/html.png) left top no-repeat;
}