object{display:inline-block;background-color:#000000;}
td{ border:#cccccc 1px dotted;
    font-family: Verdana;
    word-spacing: 0.1em;
    letter-spacing: 0;
    line-height: 1.5em;
    font-size: 11px;}