/* Template created by CENTROARTS.com | Author: Rumin Sergey | URL: http://centroarts.com */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
body { background: #373e45 url("../../templates/Gemini/images/pagebgtop.jpg") no-repeat 50% 0; color: #1b1f21; word-wrap: break-word; }

h1, h2, h3, h4, h5 { line-height: normal; }
h1 { font-size: 1.25em; } h2 { font-size: 1.2em; } h3 { font-size: 1.15em; } h4 { font-size: 1.1em; } h5 { font-size: 1em; }

a { color: #3b5163; text-decoration: underline; }
a:hover { text-decoration: none; }
a img  { border: 0 none; }

input, textarea, select, button, body { font: 13px/17px "Trebuchet MS", Arial, Helvetica, sans-serif; }
input, textarea, select, button, a { outline: none; }

p { margin-bottom: 0.4em; }
hr { border: 0 none; border-top: 1px solid #dbe8ed; height: 1px; }
ul { margin: 0 0 18px 2em; list-style: disc outside; }
ol { margin: 0 0 18px 2.1em; list-style: decimal; }

.reset, .reset li { list-style: none; padding: 0; margin: 0; }

.clr { clear: both; }
.thide, .htmenu span { overflow: hidden; display: block; height: 0; line-height: normal; }
table.userstop, table.pm, table.tableform, table.calendar { border-collapse: collapse; border-spacing: 0; }
.lcol, .rcol, form { display: inline; }
.lcol { float: left; } .rcol { float: right; }
.small { font-size: 0.9em; }

.headlinks ul li a, .menubar ul a, .lmenu li a, #topmenu a, #popular ul li a, .navigation a, .argmore a, .addcombtn, .reply a { text-decoration: none !important; }
.btn_reglog, .radial, .fbutton, .headlinks ul a, #loading-layer, .navigation a, #dropmenudiv { -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

fieldset { display: block; border: 13px solid #fff !important; background-color: #fff; width: 680px; margin: 20px auto; text-align: left; }
legend { display: none; }

/*---Краткая содержимое---*/
.base { border-top: 2px solid #7e8489; padding-top: 8px; margin-bottom: 30px; }
.base .btl { margin-bottom: 0.2em; }
	.base .btl a, .base .btl { text-decoration: none; color: #db143d; }
		.base .btl a:hover { color: #353a40; }

	.argcat { padding-left: 10px; color: #6c838e; background: url("../../templates/Gemini/images/argcat.png") no-repeat 1px 3px; font-size: 0.9em; margin-bottom: 10px; }

	.argbox a { margin: 3px 0 0 8px; text-decoration: none; color: #67747b; font-size: 0.85em; float: right; color: #67747b; padding: 0 6px; height: 20px; line-height: 20px; border: 1px solid #d6d9dc; }
		.argbox a:hover { background-color: #f1f5f7; }

	.infbtn { margin: 3px 0 0 1px; float: right; position: relative; width: 22px; height: 22px; }
	.infbtn .thide { cursor: pointer; background: #db143d url("../../templates/Gemini/images/boxinfo.png"); padding-top: 22px; width: 22px; }
		.infbtn .thide:hover { background-position: 0 -44px; }
		.infbtn .thide.selected { background-position: 0 -22px; background-color: #c0cad2; }

			.infcont { z-index: 33; width: 180px; background-color: #dfe3e6; border: 2px solid #a6b5c0; position: absolute; top: 23px; right: 0; display: none; }
			.infcont ul { position: relative; list-style: none; font-size: 0.9em; color: #67747b; margin: 0 6px; padding: 5px 0; } 
			.editdate { font-size: 0.9em; background-color: #f1f2f3; padding: 6px; color: #67747b; }

		/*---ratebox---*/
		.ratebox { padding-top: 13px; display: block; height: 28px; text-align: center; background: #d6dce1 url("../../templates/Gemini/images/ratebox.png") no-repeat 50% 0; }
			.ratebox ul { margin: 0; padding: 0; }
			.ratebox .rate { text-align: left; width: 85px; height: 17px; margin: 0 auto; overflow: hidden; }

	.storenumber, .maincont, .berrors, .basecont, .fullstory, .mass_comments_action { margin-bottom: 13px; }
	.base .maincont { padding-top: 13px; border-top: 1px solid #dfe4e9; background: url("../../templates/Gemini/images/shadlite.png") no-repeat 10px 1px; }

	/*---Метки к сайту---*/
	.basetags { padding-top: 10px; font-size: 0.9em; color: #6c838e; }
	
	/*---Подробнее и назад---*/
	.mlink { height: 39px; }
	.fullstory .mlink { margin-bottom: 3px; }

	.argmore a, .argmore a b, .argback a, .argback a b { float: left; height: 39px; background: url("../../templates/Gemini/images/argmore.png") no-repeat; }
	.argmore a, .argback a { padding-left: 23px; margin-left: -23px; line-height: 29px; color: #fff; text-decoration: none; }
		.argmore a b, .argback a b { cursor: pointer; padding-right: 42px; background-color: #db143d; background-position: 100% -39px; }
		
		.argmore a:hover { background-position: 0 -78px; }
			.argmore a:hover b { background-position: 100% -117px; }

		.argback a { background-position: 0 -156px; }
			.argback a b { background-color: #438fbf; background-position: 100% -195px; }
			.argback a:hover { background-position: 0 -234px; }
				.argback a:hover b { background-position: 100% -273px; }

	.argcoms, .argedit a { padding: 0 20px 0 10px; line-height: 29px; font-size: 0.9em; float: left; height: 30px; background: url("../../templates/Gemini/images/argcoms.png") no-repeat 100% 0; }
	.argcoms { color: #6c838e; }

/*---Заголовок страниц---*/
.heading { font-size: 1.4em; line-height: normal; color: #d51e44; margin-bottom: 10px; }

/*---Цитата и скрытый текст---*/
.scriptcode, .title_quote,
.quote, .title_spoiler, .text_spoiler { font-style: italic; padding: 10px; background: #f8f9f9 url("../images/lines.gif") repeat; border-left: 5px solid #438fbf; }
.title_quote, .title_spoiler { background: #f8f9f9; }
.title_spoiler, .text_spoiler { border-color: #db143d; }

.title_quote { border-bottom: 0; font-weight: bold; }
.scriptcode { color: #004e8d; text-align: left; font-family: "Courier New"; }
.title_spoiler { font-weight: bold; }
.text_spoiler { border-top: 0; text-align: justify; }

.hide { background-color: #e8f3fa; padding: 5px; color: #3a78a5; margin: 0 0 1em; 0; }
.hide a { text-decoration: underline; } .hide a:hover { text-decoration: none }
.inhide { border: 1px solid #d1e3ef; padding: 5px; background-color: #fff; margin-bottom: 5px; }

/*---показ оригинальной картинки загруженной на сайт из уменьшенной копии---*/
.highslide-active-anchor img { visibility: hidden; }
.highslide-dimming { background-color: black; }
.highslide-image-blur {}
.highslide-html { background-color: white; }
.highslide-html-content { display: none; }
.highslide-loading {
    display: block;
	color: #fff;
	font-size: 9px;
	font-weight: bold;
    text-decoration: none;
	padding: 3px;
	border: 1px solid #fff;
    background-color: black;
}
a.highslide-full-expand {
	background: url("../../templates/Gemini/dleimages/fullexpand.gif") no-repeat;
	display: block;
	margin: 0 10px 10px 0;
	width: 34px; height: 34px;
}
.highslide-footer { height: 11px; }
.highslide-footer .highslide-resize {
	float: right;
	height: 12px; width: 11px;
	background: url("../../templates/Gemini/dleimages/resize.gif");
}
.highslide-resize { cursor: nw-resize; }
.highslide-display-block { display: block;}
.highslide-display-none { display: none;}
.highslide-caption { display: none; padding: 5px; background: white; }
.highslide-controls {
    width: 195px;
    height: 40px;
    background: url(../../engine/classes/highslide/graphics/controlbar-black-border.gif) 0 -90px no-repeat;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.highslide-controls ul {
	position: relative;
	left: 15px;
    height: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: url(../../engine/classes/highslide/graphics/controlbar-black-border.gif) right -90px no-repeat;
}
.highslide-controls li { float: left; padding: 5px 0; }
.highslide-controls a {
    background: url(../../engine/classes/highslide/graphics/controlbar-black-border.gif);
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    outline: none;
}
.highslide-controls a.disabled { cursor: default; }
.highslide-controls a span { display: none; }
 
/* The CSS sprites for the controlbar */
.highslide-controls .highslide-previous a { background-position: 0 0; }
.highslide-controls .highslide-previous a:hover { background-position: 0 -30px; }
.highslide-controls .highslide-previous a.disabled { background-position: 0 -60px !important; }
.highslide-controls .highslide-play a { background-position: -30px 0; }
.highslide-controls .highslide-play a:hover { background-position: -30px -30px; }
.highslide-controls .highslide-play a.disabled { background-position: -30px -60px !important; }
.highslide-controls .highslide-pause a { background-position: -60px 0; }
.highslide-controls .highslide-pause a:hover { background-position: -60px -30px; }
.highslide-controls .highslide-next a { background-position: -90px 0; }
.highslide-controls .highslide-next a:hover { background-position: -90px -30px; }
.highslide-controls .highslide-next a.disabled { background-position: -90px -60px !important; }
.highslide-controls .highslide-move a { background-position: -120px 0; }
.highslide-controls .highslide-move a:hover { background-position: -120px -30px; }
.highslide-controls .highslide-full-expand a { background-position: -150px 0; }
.highslide-controls .highslide-full-expand a:hover { background-position: -150px -30px; }
.highslide-controls .highslide-full-expand a.disabled { background-position: -150px -60px !important; }
.highslide-controls .highslide-close a { background-position: -180px 0; }
.highslide-controls .highslide-close a:hover { background-position: -180px -30px; }

/*---Подсветка кода в теге [code]---*/
pre code {
  display: block; padding: 0.5em;
  background: #f8f9f9 url("images/lines.gif") repeat; 
  border-left: 5px solid #438fbf;
  overflow:auto;
  white-space: pre;
}

pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}

pre .keyword,
pre .css .rule .keyword,
pre .winutils,
pre .javascript .title,
pre .method,
pre .addition,
pre .css .tag,
pre .lisp .title {
  color: #859900;
}

pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}

pre .title,
pre .localvars,
pre .function .title,
pre .chunk,
pre .decorator,
pre .builtin,
pre .built_in,
pre .lisp .title,
pre .identifier,
pre .title .keymethods,
pre .id {
  color: #268bd2;
}

pre .tag .title,
pre .rules .property,
pre .django .tag .keyword {
  font-weight: bold;
}

pre .attribute,
pre .variable,
pre .instancevar,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .label {
  color: #b58900;
}

pre .preprocessor,
pre .pi,
pre .shebang,
pre .symbol,
pre .diff .change,
pre .special,
pre .keymethods,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata {
  color: #cb4b16;
}

pre .deletion {
  color: #dc322f;
}

pre .tex .formula {
  background: #eee8d5;
}