.Title
    {
    margin-bottom:3.0pt;
    font-size:26.0pt;
    font-family:"Cambria","serif";
    color:#17365D;
    letter-spacing:.25pt;}
.Subtitle
    {
    margin-bottom:10.0pt;
    line-height:115%;
    font-size:12.0pt;
    font-family:"Cambria","serif";
    color:#4F81BD;
    letter-spacing:.75pt;
    font-style:italic;}
.Quote
    {
    margin-bottom:10.0pt;
    line-height:115%;
    font-size:11.0pt;
    font-family:"Calibri","sans-serif";
    color:black;
    font-style:italic;}
.IntenseQuote
    {
    margin-top:10.0pt;
    margin-right:.65in;
    margin-bottom:14.0pt;
    margin-left:.65in;
    line-height:115%;
    font-size:11.0pt;
    font-family:"Calibri","sans-serif";
    color:#4F81BD;
    font-weight:bold;
    font-style:italic;}
.SubtleEmphasis
    {color:gray;
    font-style:italic;}
.IntenseEmphasis
    {color:#4F81BD;
    font-weight:bold;
    font-style:italic;}
.SubtleReference
    {font-variant:small-caps;
    color:#C0504D;
    text-decoration:underline;}
.IntenseReference
    {font-variant:small-caps;
    color:#C0504D;
    letter-spacing:.25pt;
    font-weight:bold;
    text-decoration:underline;}
.BookTitle
    {font-variant:small-caps;
    letter-spacing:.25pt;
    font-weight:bold;}
.CodeForeground 
    {margin:0in;
    margin-bottom:.0001pt;
    font-size:9.0pt;
    font-family:Courier New;}
.CodeInText 
    {font-family:Courier New;
    font-weight:bold;}
.ScreenText 
    {font-family:Tahoma;}
    
    
/* Table Format 
table.Default {border-collapse:collapse;border:#4f81bd 1px solid;margin-bottom:15px;}
table.Default td {border:#ccc 1px solid;padding:7px;line-height:15pt;}
table.Default td.alt {border:#ccc 1px solid;padding:7px;}
table.Default td.hd {border:#ccc 1px solid;padding:7px;}
table.Default td.fc {border:#ccc 1px solid;padding:7px;}
table.Default td.fcalt {border:#ccc 1px solid;padding:7px;}*/
table {border-collapse:collapse;}

table.Zebra {width:80%;border-collapse:collapse;margin-bottom:15px;}
table.Zebra td {padding:7px;line-height:15pt;}
table.Zebra td.alt {padding:7px;background:#eee;}
table.Zebra td.hd {border-bottom:#555 1px solid;padding:7px;}
table.Zebra td.fc {padding:7px;}
table.Zebra td.fcalt {padding:7px;background:#eee;}

table.Zebra-Red {width:80%;border-collapse:collapse;margin-bottom:15px;}
table.Zebra-Red td {padding:7px;line-height:15pt;}
table.Zebra-Red td.alt {padding:7px;background:#eee;}
table.Zebra-Red td.hd {border-bottom:#b20000 1px solid;color:#b20000;padding:7px;}
table.Zebra-Red td.fc {padding:7px;}
table.Zebra-Red td.fcalt {padding:7px;background:#eee;}

table.Zebra-2 {width:80%;border-collapse:collapse;margin-bottom:15px;border:#eee 0px solid;}
table.Zebra-2 td {padding:7px;background:#eee;line-height:15pt;}
table.Zebra-2 td.alt {padding:7px;background:none;}
table.Zebra-2 td.hd 
    {
    background-image: -moz-linear-gradient(top, #555555, #111111);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#555555), to(#111111));
    background-image: -o-linear-gradient(top, #555555, #111111);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#111111');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#111111')";
    background-image: linear-gradient(top, #555555, #111111);
    
    border-bottom:#fff 0px solid;color:#fff;padding:7px;
    }
table.Zebra-2 td.fc {padding:7px;background:#eee;}
table.Zebra-2 td.fcalt {padding:7px;background:none;}

table.Zebra-Red-2 {width:80%;border-collapse:collapse;margin-bottom:15px;border:#eee 0px solid;}
table.Zebra-Red-2 td {padding:7px;background:#eee;line-height:15pt;}
table.Zebra-Red-2 td.alt {padding:7px;background:none;}
table.Zebra-Red-2 td.hd 
    {
    background-image: -moz-linear-gradient(top, #c90000, #b10000);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#c90000), to(#b10000));
    background-image: -o-linear-gradient(top, #c90000, #b10000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c90000', endColorstr='#b10000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#c90000', endColorstr='#b10000')";
    background-image: linear-gradient(top, #c90000, #b10000);
    
    border-bottom:#fff 0px solid;color:#fff;padding:7px;
    }
table.Zebra-Red-2 td.fc {padding:7px;background:#eee;}
table.Zebra-Red-2 td.fcalt {padding:7px;background:none;}

table.Vertical-Emphasis {width:80%;border-collapse:collapse;margin-bottom:15px;}
table.Vertical-Emphasis td {padding:7px;line-height:15pt;}
table.Vertical-Emphasis td.alt {padding:7px;}
table.Vertical-Emphasis td.hd {border-bottom:#555 1px solid;padding:7px;}
table.Vertical-Emphasis td.fc {padding:7px;background:#eee;}
table.Vertical-Emphasis td.fcalt {padding:7px;background:#eee;}

table.Vertical-Emphasis-Red {width:80%;border-collapse:collapse;margin-bottom:15px;}
table.Vertical-Emphasis-Red td {padding:7px;line-height:15pt;}
table.Vertical-Emphasis-Red td.alt {padding:7px;}
table.Vertical-Emphasis-Red td.hd {border-bottom:#b20000 1px solid;color:#b20000;padding:7px;}
table.Vertical-Emphasis-Red td.fc {padding:7px;background:#eee;}
table.Vertical-Emphasis-Red td.fcalt {padding:7px;background:#eee;}

table.Vertical-Emphasis-2 {width:80%;border-collapse:collapse;margin-bottom:15px;border:#555 1px solid;}
table.Vertical-Emphasis-2 td {padding:7px;line-height:15pt;}
table.Vertical-Emphasis-2 td.alt {padding:7px;}
table.Vertical-Emphasis-2 td.hd 
    {
    background-image: -moz-linear-gradient(top, #555555, #111111);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#555555), to(#111111));
    background-image: -o-linear-gradient(top, #555555, #111111);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#111111');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#111111')";
    background-image: linear-gradient(top, #555555, #111111);
    
    border-bottom:#fff 0px solid;color:#fff;padding:7px;
    }
table.Vertical-Emphasis-2 td.fc {padding:7px;background:#eee;}
table.Vertical-Emphasis-2 td.fcalt {padding:7px;background:#eee;}

table.Vertical-Emphasis-Red-2 {width:80%;border-collapse:collapse;margin-bottom:15px;border:#b20000 1px solid;}
table.Vertical-Emphasis-Red-2 td {padding:7px;line-height:15pt;}
table.Vertical-Emphasis-Red-2 td.alt {padding:7px;}
table.Vertical-Emphasis-Red-2 td.hd 
    {
    background-image: -moz-linear-gradient(top, #c90000, #b10000);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#c90000), to(#b10000));
    background-image: -o-linear-gradient(top, #c90000, #b10000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c90000', endColorstr='#b10000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#c90000', endColorstr='#b10000')";
    background-image: linear-gradient(top, #c90000, #b10000);
    
    border-bottom:#fff 0px solid;color:#fff;padding:7px;
    }
table.Vertical-Emphasis-Red-2 td.fc {padding:7px;background:#eee;}
table.Vertical-Emphasis-Red-2 td.fcalt {padding:7px;background:#eee;}


/*  Super Awesome Buttons with CSS3 and RGBA
    Source: http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba
*/
.awesome, .awesome:visited {
	        background: #222 url(alert-overlay.png) repeat-x !important; 
	        display: inline-block !important; 
	        padding: 5px 10px 6px !important; 
	        color: #fff !important; 
	        text-decoration: none !important;
			font-weight: bold !important;
			line-height: 1 !important;
	        -moz-border-radius: 5px !important; 
	        -webkit-border-radius: 5px !important;
	        border-radius: 5px !important;
	        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5) !important;
	        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5) !important;
	        box-shadow: 0 1px 3px rgba(0,0,0,0.5) !important;
	        text-shadow: 0 -1px 1px rgba(0,0,0,0.25) !important;
	        border-bottom: 1px solid rgba(0,0,0,0.25) !important;
	        position: relative !important;
	        cursor: pointer !important;
            }

.awesome:hover							{ background-color: #111 !important;}
.awesome:active							{ top: 1px !important; }
.small.awesome, .small.awesome:visited 			{ font-size: 11px !important;}
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited 		{ font-size: 13px !important;}
.large.awesome, .large.awesome:visited 			{ font-size: 14px !important; padding: 8px 14px 9px !important;}
	
.green.awesome, .green.awesome:visited		{ background-color: #91bd09 !important;}
.green.awesome:hover						{ background-color: #749a02 !important;}
.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf !important;}
.blue.awesome:hover							{ background-color: #007d9a !important;}
.red.awesome, .red.awesome:visited			{ background-color: #e33100 !important;}
.red.awesome:hover							{ background-color: #872300 !important;}
.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b !important;}
.magenta.awesome:hover							{ background-color: #630030 !important;}
.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00 !important;}
.orange.awesome:hover							{ background-color: #d45500 !important;}
.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515 !important;}
.yellow.awesome:hover							{ background-color: #fc9200 !important;}
